<h2 class="title">The Real Value of Money</h2>
<section class="wrapper">
    <img src="./img/article/atc-1.png" alt="">
    <p>Money is a touchy subject. That’s because most of us, to a certain degree, associate a lot of our
        self-worth and identity to our job and how much money we make. It is, quite literally, a market
        valuation of our skills and competence as a person, and therefore we all get a little bit testy and
        scooch around uncomfortably in our chairs whenever money is brought up. But money is merely an
        arbitrary store of value.

        <br><br>It is not value itself. There are many stores of value in life.

        Time is aform of value. Knowledge is a form of value. Happiness and other positive emotions are a
        form of
        value. Money is often just the vehicle of interchanging these various forms of value with one
        another.

        <br><br>The real value of money - rolled up bills. Money is not the cause of wealth in one’s
        life.
        It is the effect. Similarly, when people assume that money is the cause of their problems, they are
        actually mistaken. Money is usually the most noticeable effect of their problems.
        <br><br>Money is fluid.
        Its value only becomes realized when it’s put into motion. Therefore, money is a reflection of the
        owner’s values and intentions. Most people mistake being rich for owning lots of stuff or achieving
        some sort of fame or status. I could max out my credit card buying VIP tables in Vegas all weekend
        and take selfies with Ivanka Trump, but that doesn’t make me rich. On the contrary, it would make me
        kind of a douchebag.

        <small><em> ( *Resource: Now Reading, <a href=" https://markmanson.net/the-real-value-of-money">"The
                    Real Value of Money". )
            </em></small> </a>
    </p>
</section>
<hr>
<h2 class="title">The pros and cons of GMO foods</h2>
<section class="wrapper">
    <img src="./img/article/atc-2.png" alt="">
    <p>Engineers design plants using genetically modified organisms, or GMOs, to be tougher, more
        nutritious, or taste better. However, people have concerns over their safety, and there is much
        debate about the pros and cons of using GMOs. In this article, we discuss the pros and cons of GMO
        crops, taking into account their potential effects on human health and the environment.<br><br>

        <strong>Pros:</strong> 1. Manufacturers use genetic modification to give foods desirable traits. For
        example, they
        have designed two new varieties of apple that turn less brown when cut or bruised.

        2. The reasoning usually involves making crops more resistant to diseases as they grow.
        Manufacturers also engineer produce to be more nutritious or tolerant of herbicides.

        3. Crop protection is the main rationale behind this type of genetic modification. Plants that are
        more resistant to diseases spread by insects or viruses result in higher yields for farmers and a
        more attractive product.

        4. Genetically modification can also increase nutritional value or enhance flavor.<br><br>

        <strong>Cons:</strong>
        Because genetically engineering foods is a relatively new practice, little is known about the
        long-term effects and safety. There are many purported downsides, but the evidence varies, and the
        main health issues associated with GMO foods are hotly debated. Research is ongoing.

        This section discusses the evidence for a range of drawbacks that people often associate with GMO
        foods.

        <small><em> ( *Resource: Medical News Today, <a href="https://www.medicalnewstoday.com/articles/324576"> "What
                    are the pros and cons of
                    GMO foods?". )
            </em></small> </a>

    </p>
</section>
<hr>
<h2 class="title">A Day of Life in Y2100</h2>
<section class="wrapper">
    <img src="./img/article/atc-3.png" alt="">
    <p>

        A resident of Spaceship Earth in the year 2100 could check their email or watch hilarious cat videos
        by using the interface of such a sheet to access the internet. But this resident, who we shall name
        Bob, has other uses in store for that scroll as we shall discuss later on. Instead, Bob uses his
        internet contact lenses to access the internet. By using sheer though alone, Bob is able to request
        an AI assistant to open up his email or YouTube. He is then able to use sheer thoughts alone to move
        the cursor on the computer screen (the screen generated by his contact lenses), click things, and
        type sentences.<br><br>

        On a less mundane level, like the cell phone in your pocket enhances your human intelligence by
        giving you fast access to the totality of all human knowledge, Bob’s contact lenses enhance his
        intelligence too. A recent poll determined that over 1,000 of the world’s leading experts in
        artificial intelligence think that there is a 90% chance that super human level artificial general
        intelligence (SIAGI) will be developed by the year 2070. So it’s safe to say that the vast majority
        of experts in this field would think that super intelligent artificial general intelligence (SIAGI)
        will be developed by the year 2100. Thus, the AI assistant on Bob’s computer interface would be
        infinitely more intelligent than Siri or Cortana used in today’s computer.<br><br>

        Today,computers are dumb machines which follow human instruction; but tomorrow, it might be the reverse.
        At any rate, those contact lenses that Bob is wearing makes him a kind of “enhanced human” with
        superior knowledge and intelligence. This brings us to the topic of transhumanism which is the
        notion that technology can be augmented to our bodies in order to enhance our biology.

        <small><em> ( *Resource: Greg School, <a
                    href="https://www.gregschool.org/gregschoollessons/utopia-life-in-the-year-2100"> "A Day of Life in
                    the Year 2100". )
            </em></small> </a>

    </p>
</section>