<h2 class="title">Portfolio</h2>
<section class="cards">
    <figure class="card">
        <img src="./img/portfolio/pf_1.png" alt="1" style="width:100%">
        <figcaption>Toronto Cupcake</figcaption>
    </figure>
    <figure class="card">
        <img src="./img/portfolio/pf_2.png" alt="2" style="width:100%">
        <figcaption>Joy Cup Coffee</figcaption>
    </figure>
    <figure class="card">
        <img src="./img/portfolio/pf_3.png" alt="3" style="width:100%">
        <figcaption>Morning Florist</figcaption>
    </figure>
    <figure class="card">
        <img src="./img/portfolio/pf_4.png" alt="4" style="width:100%">
        <figcaption>Error Page</figcaption>
    </figure>
    <figure class="card">
        <img src="./img/portfolio/pf_5.png" alt="5" style="width:100%">
        <figcaption>WP News Page</figcaption>
    </figure>
    <figure class="card">
        <img src="./img/portfolio/pf_6.png" alt="6" style="width:100%">
        <figcaption>UX Mind Map</figcaption>
    </figure>
</section>